body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
    min-height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
    grid-template-rows: min-content 1fr min-content;
}

nav {
    background-color: lightskyblue;
    grid-column: 1;
}

#sidebar{
    position: sticky;
    top: 0;
    left: 0;
    height: min-content;
}

#sidebar ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
}

header {
    background-color: yellow;
    grid-column: 1/-1;
}

main {
    background-color: silver;
    grid-column: 1/7;
}

aside {
    background-color: lightcyan;
    grid-column: span 2/-1;
}

footer {
    background-color: grey;
    grid-column: 1/-1;
}