:root {
    --sidebar-min: 32px;
    --sidebar-med: 64px;

    --bcg: silver;
    --outside: 16px;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-size: 1rem;
    background-color: var(--bcg);
}

#wrapper {
    display: grid;
    grid-template-columns: var(--sidebar-med) 4fr;
    min-height: 100vh;
    transition: 0.5s ease;
}

#wrapper.sidebar-toggle {
    grid-template-columns: var(--sidebar-med) 4fr;
}

#container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

nav {
    background-color: lightskyblue;
    grid-column: 1/2;
    z-index: 1;
    padding: var(--outside);
    width: var(--sidebar-min);
    transition: 0.5s ease;
}

nav.sidebar-toggle {
    width: 256px;
}

#sidebar {
    position: sticky;
    top: var(--outside);
    left: 0;
    height: min-content;
    overflow: hidden;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-btn {
    width: 32px;
    height: 32px;
}

header {
    background-color: yellow;
    grid-column: 1/-1;
    padding: var(--outside);
}

main {
    background-color: var(--bcg);
    padding: var(--outside);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--outside);
}

.primary {
    display: grid;
    grid-column: 1 / -1;
    gap: var(--outside);
}

.secondary {
    display: grid;
    grid-column: 1 / -1;
    gap: var(--outside);
}

.card,
.misc {
    display: grid;
    border: 1px solid black;
    border-radius: 8px;
    background-color: antiquewhite;

    padding: var(--outside);
}

footer {
    background-color: grey;
    grid-column: 1/-1;
    padding: var(--outside);
}

@media only screen and (min-width: 512px) {
    
    header {
        grid-column: 1/-1;
    }
    
    main {
        grid-column: 1/-1;
    }
    
    .primary {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / -1;
    }
    .secondary {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / -1;
    }

    footer {
        grid-column: 1/-1;
    }
}

@media only screen and (min-width: 768px) {
    .primary {
        grid-column: 1 / span 6;
    }
    .secondary {
        grid-template-columns: 1fr;
        grid-column: span 2 / -1;
    }
}

@media only screen and (min-width: 1024px) {

    #wrapper.sidebar-toggle {
        grid-template-columns: 20% 4fr;
    }

    nav {
        width: unset;
        transition: none;
    }

    nav.sidebar-toggle {
        width: calc(100% - 32px);
    }

    #container {
        position: relative;
        margin-left: 0;
        z-index: 1;
    }
}